.review-container {
  text-decoration: none;
  color: black;
  margin: 0 auto;
}
.review-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.review {
  width: 400px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
  text-align: center;
}

.review-content {
  margin-bottom: 20px;
}

.review img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
}

.review h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.review p {
  font-size: 16px;
  line-height: 1.5;
}
